body {
	background:#934A00;
	color:gold;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;;
}

.container {
	width: 900px;
	margin: 10px auto;
}

#now-serving-container {
	border: dotted 4px gold;
	width: 400px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h2 {
	text-decoration:underline;
	margin-left:20px;
	font-size:30px;
}

#nowServing {
	text-align: center;
	font-size: 30px;
}

#theLine {
	float:left;
}

#classListDiv {
	float:right;
}

ul {
	list-style-type:none;
}

li {
	font-size:22px;
}

input {
	font-size:22px;
	background:black;
	color:white;
	text-align:center;
}

button {
	font-size:22px;
	background:gold;
	margin:5px;
	cursor:pointer;
}

.hidden {
	visibility: hidden;
}